.sidebariconssmall{
    width: 14px; margin-top: -2px;
  }
  .librarydata{
    /* margin-top: 3rem; */
    /* padding: 20px; */
    margin-top: 0rem;
    padding-left: 25px;
   overflow: initial !important;
    width: 81%;
    float: left; margin-top: 30px;
  
  }
  .font-18{font-size:18px;}
  .Home{
    color: black !important;
    color: #000;
    font-family: Figtree, sans-serif !important;
    font-size: 16px;
    padding-right: 10px;
  }
  button:hover{
    background-color: #2c9942 !important;
  }
  .mainsidebardms button:hover{
    background-color: #fff !important;
  }


  
  .modal.show{background:rgb(0,0,0,0.3)}
    .bi-plus1{    width: 40px;
      height: 40px;
      position: absolute;
      right: 33px; cursor: pointer;
      top: 9px;
      left: auto;}
      .d-flex1{    gap: 10px;
        align-items: center;}
      
      .crossicon, .close-button {
          position: absolute;
          right: 17px;
          top: 10px;
          width: 35px;
          height: 35px;
          border: 1px solid  #ec1c24!important;
          border-radius: 1000px;
          text-align: center;
          line-height: 35px;
          color:  #ec1c24 !important;
      }
      .btn-primary{
        background:#2c9942; border-color:#2c9942;
      }
   
  .btn-secondary {
    background:#6c757d; color:#fff; border:1px solid #6c757d;    display: inline-block;
  }
  .Backbutton {display: flex;
      justify-content: end;
      margin-bottom: 10px;
  }
  .mtable {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 0px;
  }
  .mtable thead {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: visible;
  }
  .mtable tr {
  display: table;
  width: 100%;
  float: left;
  margin-bottom: 4px;
  }
  .mtable th {
    background:#d9ede5 !important;
  font-weight: 600 !important;
  color: #008751;
  font-size: 14px;
  
  min-width: 130px;
  max-width: 130px;
  padding: 10px !important;
  border-bottom: 0px solid #1b6363 !important;
  }
  .mtable tbody {
  width: 100%;
  position: relative;
  display: block;
  max-height: 307px;
  overflow: auto;
  }
  .mtable td {
  min-width: 130px;
  max-width: 130px;
  padding: 6px 10px !important;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 0px solid #e1e1e1;
  }
  .Setting{
    color: black !important;
    color: #000;
    font-family: Figtree, sans-serif;
    font-size: 16px;
  }
  .DMSMasterContainer{
    
    /* position: relative; */
  left: 2rem;
  top: 6rem;
  margin-top: 0px;
  }
  .page-title{
    line-height: 1.6;
    /* color: #767676; */
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: "Figtree", sans-serif !important;
    padding-left: 0px;
    color: black !important;
  }
  .CardGrid{
  display: flex;
  }
  .CardImage{
    height: 59px;
    width: 61px;
  }
  .manage-master .box1 {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    padding: 32px 0px;
    height: 160px;
    border-radius: 20px;
    width: 100%;
    margin: 0px auto 0px auto;
    border: 2px solid #2c9942;
  }
  .manage-master .box1 {
    background: #fff !important;
  }
  .manage-master .box1 .icon {
    padding: 10px 0px 10px 0px;
    margin-bottom: 7px;
    height: 70px;
    font-size: 20px;
  }
  .manage-master .box1 p {
    display: block;
    font-size: 0.875rem;
  }
  .manage-master .col-sm-3{ width:20% !important;}
  a
  {
    text-decoration: none;
  }
  a:hover
  {
  
    text-decoration: none;
  }
  .manage-master .box1:hover {
    border: 2px solid #2c9942;
    background: #efefef !important;
  }
  
  
  .hidemydatacards{
   display: none !important;
  }
  .shared-user {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #dadcde;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    font-size: 14px;
    color: #6c757d;margin-left: -12px;
  }
  
  .more-users {
    margin-left: -9px;
    margin-top: 4px;
    font-size: 14px;
    color: #888;
  }
  .fileSizeAndVersion{
    display: flex;
    gap: 40px;
  }
  
  .sharedFile{
    display: flex;
    gap: 10px;
    padding-left: 64px; margin-top:3px;
  }
  
  /* START TOOLTIP STYLES */
  [tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';  opacity: 1;
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
  
    text-align: center;
    opacity: 1;
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  /* FLOW: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  /* FLOW: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
  
  
  
  
  
  
  
  /* Css for share file popup */
   
  /* Pop-up container */
  .share-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 555px;
    background-color:rgba(246,246,246,0.87);
    /* box-shadow:  rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
  
    z-index: 1;
  }
   
  /* Popup content */
  .share-popup-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
  }
   
  /* Popup header: Share File and X in the same row */
  .share-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 383px;
  }
   
  /* Close "X" button */
  .share-close-popup {
    cursor: pointer;
    font-size: 18px;
    color:var(--primary-color);
    font-weight: bold;
  }
   #folderContainer2 ul li{font-weight:400; margin-top: 6px; }
  /* Popup body: Spacing for the select and textarea */
  .share-popup-body {
    // margin-bottom: 20px;
    margin-bottom: 20px; position: relative;
  }
   
  /* React select container */
  #share-reactSelect {
    margin-bottom: 15px;
  }
   
  /* Textarea for the message */
  #share-message {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
    height: 80px;
  }
   
  /* Popup footer: Share button aligned to the right */
  .share-popup-footer {
    display: flex;
    justify-content: flex-end;
  }
   
  /* Share button */
  .share-popup-footer button {
    border: none;
    cursor: pointer;
    background: transparent !important;
   margin-top: 5px !important;
    font-size: 14px;
    transition: background-color 0.3s;
  }
   
  .popup-footer button:hover {
    background-color: #66AEE0;
  }
   
  #userSelect {
      width: 100%;
      height: auto;
      min-height: 40px;
      max-height: 150px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 5px;
  }
  
  /* .workflowdiv{
    display: block !important;
  }
  .workflowdivhide{
    display: none !important;
  } */
  
  
  /*Edit pop Css*/
  .edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 99999;
    min-width:60%;
  }
   
  /* Styling for form groups (Field name and type) */
  .edit-popup .form-group {
    margin-top: 15px;
    display: flex;
    gap: 10px;
  }
   
  .edit-popup .row {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
  }
   
  .edit-popup .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
   
  .edit-popup .form-group input,
  .edit-popup .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   
  .edit-popup .form-group input[disabled] {
    background-color: #f2f2f2;
    color: #666;
  }
   
  /* Add field button styling */
  .edit-popup a img {
    cursor: pointer;
    margin-top: 0px;
    display: block;
    margin-left: auto;
   
  }
   
  .edit-popup a img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
   
  /* Buttons (Save and Cancel) */
  .edit-popup button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
   
  .edit-popup button:hover {
    background-color: #45a049;
  }
   
  /* Close button or cancel */
  .edit-popup .close-button {
    background-color: white;
    float: right;
    line-height: 29px;
  }
   
  .edit-popup button.close-button:hover {
    background-color: #d32f2f;
  }
  
  /* audit history popup */
  .audit-history-popup {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
  
    
    /* FIX */

   
    
    background: rgba(246, 246, 246, 0.87);
    border: 0;
    z-index: 1;
    
    overflow-y: auto;
    border-radius: 0;
  }
   
  .popup-content-auditHistory {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 900px;
    position: relative;
  }
   
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
   
  .popup-header h5 {
    margin: 0;
  }
   
  .close-btn {
    cursor: pointer;
    font-size: 24px;
    padding: 5px; color: #ec1c24;
  }
   
  .popup-details {
    display: flex;
    flex-direction: column;
  }
   
  /* Adjust the grid for three columns */
  .detail-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 5px;
  }
   
  .detail-column {
    padding: 10px;
    word-wrap: break-word;
  }
   
  /* Approver Header and Values */
  .detail-row-approver {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 5px;
  }
   
  .detail-row-value-approver {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
  }

   
  .detail-label, .detail-label-approver {
    font-weight: bold;
    text-align: left;
  }
   
  .detail-value, .detail-value-approver {
    text-align: left;
    color: #6C757D;
  }
   
  .detail-label-approver {
    font-weight: bold;
    color: #008751;
  }
   
  
  .greater{
    padding-right: 10px;
  }
  .Route{
    display: inline-flex;
    padding-left: 0px;
  }
  .mainsidebardms{
    width: 19%;
    float: left;
    padding: 0 0px 20px 0px;
    position: relative;
  }
  #folderContainer2{
      /* width: 17rem; */
      
      padding: 7px;

  
     
  }
  #folderContainer2 .toggle-button{width: 17px;
    height: 17px;
    display: inline;
    float: left;
    border-radius: 1000px;
    border: 1px solid #000; color:#000 ;
    text-align: center;
    line-height: 14px;
    font-size: 18px;
    margin: 3px 5px 0px 0px;}
    #folderContainer2 ul{list-style: none; padding: 0px; margin-bottom: 0px;}
    #folderContainer2 ul li{padding-left: 5px;}
  .sidebardms {
    background-color: transparent;
    
    display: flex;
    flex-direction: column;
    font: 14px Figtree, sans-serif;
    margin: 0px 0 11px;
    padding:0px; width: 100%;
  
  
  }
  .content-page {
    top: -3px !important;
}
  #showfolderpermission h5{    margin: inherit;
    margin-bottom: 3px !important;}
  #hidegidvewlistviewbutton button,   #hidegidvewlistviewbutton2 button{font-size: 14px; margin-top: 5px;}
  #hidegidvewlistviewbutton button .active svg,  #hidegidvewlistviewbutton2 button .active svg{color:#fff !important}


  .myrequestp3rd{
    width: 96px;
   
  }
   
  .mycreatedfolderpublicorlibrary{
    display: inline-flex;
        gap: 6px;
  }
  .filestatus2{
    border-radius: 5px;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    height: 22px;
    line-height: 19px;
    padding: 1px 10px;
  }
  .folderthreedots{
    width: 33px;
  }

  .root-folder {
    background-color: #f0f8ff; /* Light blue for root folder */
  }
  
  .sub-folder {
    background-color: #faebd7; /* Light tan for sub folder */
  }
  