
:root {
  --primary-color: #0351a4;
  --secondary-color: #6a6a6a;
  --light-color: #f6f7fb;
  --bg-color:#ededed;

}

.greater{
  padding-right: 10px;
}
.Route{
  display: inline-flex;
  padding-left: 0px;
}

.newhe{overflow: auto; max-height: 350px;}

/* #folderContainer2{

  
    padding: 7px;
    max-height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
    
} */
  /* amjad latest chnage on folder container  */

#folderContainer2{
    /* width: 17rem; */
  
    padding: 7px;
    /* max-height: 325px; */
    max-height: 671px !important;
    overflow-y: auto;
    overflow-x: auto;

    
}

/* #folderContainer2::-webkit-scrollbar {
  width: 6px;
} */
 /* amjad latest chnage on folder container  */
 #folderContainer2::-webkit-scrollbar {
  width: 6px; height: 6px;
}

/* Track */
#folderContainer2::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#folderContainer2::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#folderContainer2::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
p.folder {font-size: 14px; font-weight: 600; margin-bottom: 7px;


}
.p3rd{
  width: 47%; float: left;
}
.share-popup-header h4{    font-size: 1.25rem !important;    color: #4c4c4c;
  font-weight: bold;
  padding-top: 10px;}
.filestatus,.filestatus2{float:right;    width: 70px;
  text-align: center;
  line-height: 21px !important;}
  #folderContainer2 .expanded ul .toggle-button{padding: 3px !important; margin: 0px 5px 0px 0px;}
.sidebardms {
  background-color: transparent;
  
  display: flex;
  flex-direction: column;
  font: 14px Figtree, sans-serif;
  margin: 0px 0 11px;
  padding:0px; width: 100%;


}



.font-18{font-size:18px;}
.Home{
  color: black !important;
  color: #000;
  font-family: Figtree, sans-serif !important;
  font-size: 16px;
  padding-right: 10px;
}
.modal.show{background:rgb(0,0,0,0.3)}
  .bi-plus1{    width: 40px;
    height: 40px;
    position: absolute;
    right: 33px;
    top: 9px;
    left: auto;}
    .d-flex1{    gap: 10px;
      align-items: center;}
    
    .crossicon, .close-button {
        position: absolute;
        right: 17px;
        top: 10px;
        width: 35px;
 
        height: 35px;
        border: 1px solid #ec1c24 !important;
        border-radius: 1000px;
        text-align: center;
        line-height: 35px;
        color: #ec1c24 !important;
    }
    .btn-primary{
      background:var(--primary-color);; border-color:var(--primary-color);;
    }
 
.btn-secondary {
  background:#6c757d; color:#fff; border:1px solid #6c757d;    display: inline-block;
}
.Backbutton {display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.mtable {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 0px;
}
.mtable thead {
width: 100%;
display: inline-block;
position: relative;
overflow: visible;
}
.mtable tr {
display: table;
width: 100%;
float: left;
margin-bottom: 4px;
}
.mtable th {
background:#d9ede5 !important;
font-weight: 600 !important;
color: #008751;
font-size: 14px;

min-width: 130px;
max-width: 130px;
padding: 10px !important;
border-bottom: 0px solid #1b6363 !important;
}
.mtable tbody {
width: 100%;
position: relative;
display: block;
max-height: 307px;
overflow: auto;
}
.mtable td {
min-width: 130px;
max-width: 130px;
padding: 6px 10px !important;
text-align: left;
background-color: #fff;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
border-bottom: 0px solid #e1e1e1;
}
.Setting{
  color: black !important;
  color: #000;
  font-family: Figtree, sans-serif;
  font-size: 16px;
}
.DMSMasterContainer{
  
  /* position: relative; */
left: 2rem;
top: 6rem;
margin-top: 0px;
}
.page-title{
  line-height: 1.6;
  /* color: #767676; */
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "Figtree", sans-serif !important;
  padding-left: 0px;
  color: black !important;
}
.CardGrid{
display: flex;
}
.CardImage{
  height: 59px;
  width: 61px;
}
.manage-master .box1 {
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  padding: 32px 0px;
  height: 160px;
  border-radius: 20px;
  width: 100%;
  margin: 0px auto 0px auto;
  border: 2px solid #2c9942;
}
.manage-master .box1 {
  background: #fff !important;
}
.manage-master .box1 .icon {
  padding: 10px 0px 10px 0px;
  margin-bottom: 7px;
  height: 70px;
  font-size: 20px;
}
.manage-master .box1 p {
  display: block;
  font-size: 0.875rem;
}
.manage-master .col-sm-3{ width:20% !important;}
a
{
  text-decoration: none;
}
a:hover
{

  text-decoration: none;
}
.manage-master .box1:hover {
  border: 2px solid #2c9942;
  background: #efefef !important;
}



.shared-user {
  background-color: #dadcde;
    border-radius: 50%;
    color: #6c757d;
    display: inline-block;
    font-size: 11px;
    height: 25px;
    line-height: 27px;
    margin-left: -12px;
    margin-right: 5px;
    margin-top: -5px;
    text-align: center;
    width: 25px;
    FONT-WEIGHT: 600;
}

.more-users {
  font-size: 13px;
  margin-left: -13px;
  margin-top: -1px;
  color: #888;
}
.fileSizeAndVersion{
  display: flex;
  gap: 40px;
}

.sharedFile{
  display: flex;
  gap: 10px;
  padding-left: 55px; margin-top:3px;
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';  opacity: 1;
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */

  text-align: center;
  opacity: 1;
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}







/* Css for share file popup */
 
/* Pop-up container */
.Newalignwidth{
  width: 38%;
  font-size: 16px;
  color: #838383;
  font-weight: 600;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px
}
.share-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:  555px;;
  background-color:rgba(246,246,246,0.87);
  /* box-shadow:  rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
 
  z-index: 1; 
} 
 
/* Popup content */
.share-popup-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}
 
/* Popup header: Share File and X in the same row */
.share-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 383px;
}
 
/* Close "X" button */
.share-close-popup {
  border: 1px solid var(--primary-color);
    border-radius: 1000px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    line-height: 24px;
    width: 30px;
    border-radius: 1000px;
    min-width: 30px;
    right: 11px;
    position: relative;
    line-height: 27px;
    text-align: center;
}
#rename-popup h3, #renamePopup h3{ font-weight: 600 !important; text-align: left !important;  font-size: 18px !important;}
.setApprover{margin-left: 0px !important; justify-content: center;}
#showfolderpermission .modal-dialog, #workflowdiv .modal-dialog {min-width: 92% !important;}
#files-container iframe{width: 100% !important; margin-top: 35px;}
#showfolderpermission .modal-dialog .modal-content, #workflowdiv .modal-dialog .modal-content{
  width: 100% !important; padding: 15px !important; border: 0px solid #ccc !important;
}
#showfolderpermission .modal-dialog h6, #workflowdiv .modal-dialog h6{
  text-align: center;
}
 /* #folderContainer2 ul li{font-weight:300; font-size: 12px;} */

 /* amjad latest chnage */
 #folderContainer2 ul li{font-weight:300; font-size: 12px;
  /* display:flex;
      justify-content: left;
      flex-direction: row-reverse;
      text-align: left; */
      width: 325px;
}

/* Popup body: Spacing for the select and textarea */
.share-popup-body {
  /* margin-bottom: 20px; */
  margin-bottom: 20px; position: relative;
}
 
/* React select container */
#share-reactSelect {
  margin-bottom: 15px;
}
 
/* Textarea for the message */
#share-message {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
  height: 80px;
}
 
/* Popup footer: Share button aligned to the right */
.share-popup-footer {
  display: flex;
  justify-content: flex-end;
}
 
/* Share button */
.share-popup-footer button {

  
  border: none;
  cursor: pointer;

  font-size: 14px;
  transition: background-color 0.3s;
}
 
.popup-footer button:hover {
  background-color: #66AEE0;
}
.newbutton img{
  /* filter: brightness(0); */
}
.btngridview {
  margin-right: -8px;
  z-index: 1;
  margin-left: 10px;

}
.newbutton button:hover img{
  filter: sepia(0) saturate(1) hue-rotate(-50deg) brightness(.8);
}
#userSelect {
    width: 100%;
    height: auto;
    min-height: 40px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

/* .workflowdiv{
  display: block !important;
}
.workflowdivhide{
  display: none !important;
} */


/*Edit pop Css*/
.blur-backround{
  width: 600px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    
}
.edit-popup {
  position: fixed;

  width: 100%;

top: 0;
  z-index: 1;
  background: hsla(0,0%,96%,.87)!important;

  height: 555px !important;
  display: flex
  ;
      justify-content: center;
      align-items: center; 
  
}
 
/* Styling for form groups (Field name and type) */
.edit-popup .form-group {
  margin-top: 15px;
  display: flex;
  gap: 10px; width: 98%;
}
 
.edit-popup .row {
  margin-bottom: 15px;
  display: flex;
  gap: 0px;
}
 
.edit-popup .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

 
.edit-popup .form-group input,
.edit-popup .form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
.edit-popup .form-group input[disabled] {
  background-color: #f2f2f2;
  color: #666;
}
 
/* Add field button styling */
.edit-popup a img {
  cursor: pointer;
  margin-top: 0px;
  display: block;
  margin-left: auto;
 
}
 
.edit-popup a img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
 
/* Buttons (Save and Cancel) */
.edit-popup button {
  padding: 6px 20px;
  margin-top: 0px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  float:right;
}
.edit-popup  a{float: right;}
.edit-popup button:hover {
  background-color: #45a049;
}
 
/* Close button or cancel */
.edit-popup .close-button {
  background-color: white;
  float: right;
  line-height: 29px;
}
 
.edit-popup button.close-button:hover {
  background-color: #d32f2f;
}

/* audit history popup */
.audit-history-popup {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;

  display: flex; align-items: center; justify-content: center;
  /* FIX */
 
  height: 555px;
  
  background: rgba(246, 246, 246, 0.87);
  border: 0;
  z-index: 1;
  
  overflow-y: auto;
  border-radius: 0;
  
}
 
.popup-content-auditHistory {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 900px;
  position: relative;
}
 
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
 
.popup-header h5 {
  margin: 0;
}
 
.close-btn {
  cursor: pointer;
  font-size: 24px;
  padding: 2px;
  border: 1px solid #ec1c24;
  
  height: 30px;
  width: 30px;
  border-radius: 1000px;
  text-align: center;
  line-height: 23px;
}
 
.popup-details {
  display: flex;
  flex-direction: column;
}
 
/* Adjust the grid for three columns */
.detail-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}
 
.detail-column {
  padding: 4px;
  word-wrap: break-word; font-size: 14px;
}
 
/* Approver Header and Values */
.detail-row-approver {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}
 
.detail-row-value-approver {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
 
.detail-label, .detail-label-approver {
  font-weight: bold;
  text-align: left;
}
 
.detail-value, .detail-value-approver {
  text-align: left;
  color: #6C757D;
}
 
.detail-label-approver {
  font-weight: bold;
  color: #008751;
}
.sidebardmsButton {
  background: #f9f9f9;
    color: #2f2f2f;
    display: flex
;
    font-size: 14px;
    padding: 9px 19px;

  line-height: 19px;
 
  
 
  
  font-weight: 500;
  
}
.sidebardmsButton{    gap: 6px;
    vertical-align: text-bottom;
    border-radius: 5px;
    margin-top: 5px;
}
.sidebardmsButton :hover{ color: #fff !important; }
#files-container .popup-menu{display: none;}
.popup-menu{position: absolute;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  padding: 10px; ; top: 10px;
   background: #fff; right: 16px;
   top: 29px;
   
   z-index: 1;}
#files-container .show{display: block !important}
.popup-menu ul{    list-style: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 0;}
  .form-control:focus{box-shadow: none;}
  .row1{width: 33.3%; float: left;}
.popup-menu ul li{ padding: 7px; cursor: pointer; margin-bottom: 1px;font-size: 13px;}
.popup-menu ul li:hover{background: #f7fbfc;color: var(--primary-color);    filter: sepia(50%) hue-rotate(0deg) saturate(100%);}
.popup-menu ul li img{width: 14px; float: left; margin-top: 2px; margin-right: 5px;}
.sidebardmsButton:hover{background: #fff;}

.popup-menu ul li:hover img{
  filter: sepia(100%) hue-rotate(0deg) saturate(900%);
}
#hidegidvewlistviewbutton, #hidegidvewlistviewbutton2{justify-content: end; display: flex; gap: 5px;}
.btngridview.active {
  background:var(--secondary-color); ; color: #fff; border-color:var(--secondary-color);
}
.btngridview.active svg{color: #fff !important;}

.btnlistview {
  color: #000;  border: 1px solid #efefef !important;
  font-weight: 500; background: #fff ;

}
#hidegidvewlistviewbutton button:hover, #hidegidvewlistviewbutton2 button:hover,#createuploadfilecont button:hover {
  background: var(--secondary-color) !important; border-color: var(--secondary-color) !important; color: #fff !important;
}
#hidegidvewlistviewbutton button:hover svg, #hidegidvewlistviewbutton2 button:hover svg, #createuploadfilecont button:hover svg{color: #fff !important ;}
.search-container input{padding: 10px 14px;
  background: #fff !important;    margin-bottom: 12px;
  border-radius: 5px;}
  .searchbutton{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 20px;
  }.searchbutton img{
    width: 20px;
  }
  #hidegidvewlistviewbutton button:hover{
    background: transparent !important;
    

  }
  #hidegidvewlistviewbutton button:hover img,.notactive:hover img,.tool .btn-primary:hover img{
  filter: sepia(0) saturate(1) hue-rotate(-50deg) brightness(.8);
  }
  #files-container .card{
    width: 32.1%; margin: 5px; float: left;
  } 
  .tool .btn-primary:hover{
    background: transparent !important; color: #000 !important;
  }
  .newsmart{

    
    position: relative;
    top: -98px;    border-bottom: 10px solid #eaeaea;
  }
 #files-container .card {
    border: 2.2px dotted #c9c9c9 !important;
    border-radius: 0px !important;
    height: 109px; padding: 0.75rem; position: relative !important;
}
.three-dots{position: absolute;
  right: 16px;
  text-align: right;
  top: -8px;
  font-size: 28px;

  cursor: pointer;
}
#createuploadfilecont{
  display: flex;
    justify-content: start;
    gap: 5px;
    float: left;
   
}
#createuploadfilecont .mybutton1{

     border: 0px solid #2c9942;
}
#createuploadfilecont .mybutton2{
  background: #fff;
    color: #000; border: 1px solid #2c9942;
}
.input-container input{height: 36px;}
.main-containeruploadfile h1{font-size: 20px; text-align: center;}
.p3rd,.p2nd{margin-bottom: 3px !important; font-size: 11px; color: #6b6b6b;}

.p1st{-webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-top: -4px !important;
  overflow: hidden;
  line-height: 20px !important;
  padding-right: 35px;
  text-overflow: ellipsis;
   color: #000;
  margin-bottom: 5px !important;
  height: 20px;
}
.p2nd{
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  
  overflow: hidden;
  
  text-overflow: ellipsis;
}
   .newbutton button{height: 27px !important; font-size: 14px; padding: 0px 0px !important;
  color: #000; border-radius: 4px;
  background: transparent !important;
  }
.filestatus {
  font-size: 11px;
  line-height: 19px;
  padding: 1px 10px;
  display: inline-block;
  border-radius: 5px;

  font-weight: bold;
  height: 22px;
}
.form-check-label{
  padding-top: 5px;
    padding-left: 4px;
}
.cardborder {
  border: 1px solid #2c9942 !important; border-radius: 20px !important; padding: 15px !important;
}
.css-b62m3t-container{font-size: 14px;}
.subheader {color: #6b6b6b !important;}
.p-31{padding: 20px !important; width: 100% !important;}
.modal .cardborder{border: 0px solid #2c9942 !important; }
.mtbalenew{
  width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 0px;
}
.mtbalenew thead {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: visible;
}
.mtbalenew tr {
  display: table;
  width: 100%;
}
.mtbalenew th {
  background:#f3f7f9 !important;
  font-weight: 600 !important;
  color: #3c3c3c;
  font-size: 15px !important;
text-align: center;
  min-width: 130px;
  max-width: 130px;
  padding: 10px !important;
  border-bottom: 0px solid #1b6363 !important;
}

.mtbalenew tbody {
  width: 100%;
  position: relative;
  display: block;
  max-height: 30007px !important;
  overflow-y: hidden !important;
}
.mtbalenewn tbody{
  overflow-y: inherit !important;
}
.mtbalenew td {
  min-width: 130px;
  max-width: 130px;
  padding: 8px 10px; font-size: 15px;
  text-align: left;
  background-color: #fff;
  overflow: hidden; font-size: 14px !important;
  text-overflow: ellipsis;
  white-space: nowrap; color: #6b6b6b;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.mtbalenew td:last-child{
  border-right: 0px solid #e1e1e1; text-align: center;
}
.mtbalenew tr:nth-child(even) td {
  background: #f9f9f9;
}
.mtbalenew tr:nth-child(even):hover td {
  background: #ececec;
}
.indexdesign{
  background: #e3ece2 !important;
    color: #2c9942 !important;
    width: 28px !important;
    height:28px !important;
    font-size: 16px !important;
    border: none;
    float: left;
    line-height: 30px !important;
  margin-left: 12px;
    padding: 0px 1px !important;
    border-radius: 1000px; text-align: center; font-weight: 600;
}
.stausbg{

    border-radius: 4px;
    background: rgba(0, 135, 81, 0.20) !important;
    font-weight: 500 !important;
    color: #008751;
    padding: 1px 5px !important; text-align: center;
    
    
}
.hidemydatacards{
  display: none !important;
 }
 @supports (position: sticky) {
  .is-sticky {
    position: sticky;
    top: 20px; 
  }
}
.main-containeruploadfile h1{color: #000;}
@media(max-width:1920px)
{
  .sharedFile{padding-left: 75px;}
}
@media(max-width:1800px)
{
  .sharedFile{padding-left: 65px;}
}
@media(max-width:1600px)
{
  .sharedFile{padding-left: 60px;}
}
@media(max-width:1440px)
{
  .sharedFile{padding-left: 54px;}
}
@media(max-width:640px){
  .mtbalenew{overflow: auto;}
  .mtbalenew tbody{overflow: visible !important;}
  .indexdesign{margin-left: 0px !important;}
}
.flexContainer-75, .ms-TooltipHost, .root-53, .root-61 {
  display: block !important;
}


/* i have added this because folder hierarchy was conjusted if name was too large */
#folderContainer2 ul li{
  font-size: 12px;
  font-weight: 300;
  width: 400px;
}