// this was added to hide navbar from modern sharepoint page

// #SuiteNavWrapper {
//   display: none !important; /* Completely hides the Suite Nav */
// }
// .ms-compositeHeader {
//   display: none !important; /* Sometimes used in classic pages */
// }
// .sp-appBar {
//   display: none !important; /* Hides the app bar */
// }


///////
/// 



:root {
  --primary-color: #ec1d25;
  --secondary-color: #6a6a6a;
  --light-color: #f6f7fb;
  --bg-color:#ededed;

}

.sidebariconssmall{
  width: 14px; 
}
.newdovvlose {
  position: absolute;
  margin-top: -194px;
  right: 56%;
}
.newdovvlose .sidebariconssmall{
  width: 17px; 
} 
.Airesponse .card{
  width: 48.1% !important;
}
.tool img{width: auto !important;}
.bgnewwhite{background: #fff; padding: 12px 12px 0px 12px;}
.bgnewwhite1{background: #fbfbfb; padding: 12px;}
.librarydata{
  /* margin-top: 3rem; */
  /* padding: 20px; */
  margin-top: 0rem; position: relative;
 
 overflow: initial !important;
  width: 80%;  padding:0px;
  float: left; margin-top: 10px;  margin-left:10px; border-radius: 0px;

}.newright{
  border-left:1px solid #dfdfdf; width: 100px; display: block; text-align: center;
}
.bordernewr{border-left:1px solid #dfdfdf; width: 100px;text-align: center; display: block !important;}
.missing-link{width: 80px; text-align: center; border-left: 1px solid #dfdfdf;}
.cardsearch{    border: 1px solid #2c9942 !important;
  border-radius: 6px !important;
  float: left;
  height: 140px;
  margin: 5px; background: #fff;
  padding: .75rem;
  position: relative !important;
  width: 99.5%;}
  .cardsearch p.mb-0{margin-bottom: 0px !important;}
  .cardsearch .p1st a{color: #000 !important;}
  .width50{width: 50% !important; float: left;}
  .cardsearch .p1st a:hover{color: var(--primary-color) !important;}
  .cardsearch .p2nd span{font-weight: 600; color: #000;}
  .cardsearch .newfont{font-size: 14px;}
  .cardsearch .newdes{display: flex; gap: 10px;}
  .cardsearch .neww{width: 50px !important;}
  .cardsearch .p2nd1{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box; font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.font-18{font-size:18px;}
.Home{
  color: black !important;
  color: #000;
  font-family: Figtree, sans-serif !important;
  font-size: 16px;
  padding-right: 10px;
}
button:hover{
  background-color:var( --primary-color) !important;
}
.mainsidebardms button:hover{
  background-color: var(--secondary-color) !important; color: #fff !important;
}
.mainsidebardms button:hover img,.mainsidebardms button.active img{ filter: brightness(0) invert(1);}


.modal.show{background:rgb(0,0,0,0.3)}
  .bi-plus1{    width: 40px;
    height: 40px;
    position: absolute;
    right: 33px; cursor: pointer;
    top: 9px;
    left: auto;}
    .d-flex1{    gap: 10px;
      align-items: center;}
    
    .crossicon, .close-button {
        position: absolute;
        right: 17px;
        top: 10px;
        width: 35px;
        height: 35px;
        border: 1px solid var(--primary-color) !important;
        border-radius: 1000px;
        text-align: center;
        line-height: 35px;
        color: var(--primary-color) !important;
    }
    .btn-primary{
      background:#2c9942; border-color:#2c9942;
    }
    .newselc{border: 1px solid #fa901d !important; color:#fa901d !important; background: #fff !important;}
 
.btn-secondary {
  background:#6c757d; color:#fff; border:1px solid #6c757d;    display: inline-block;
}
.newselc:hover{background: transparent !important;}
.Backbutton {display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.mtable {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
}
.mtable thead {
width: 100%;
display: inline-block;
position: relative;
overflow: visible;
}
.mtable tr {
display: table;
width: 100%;
float: left;
margin-bottom: 4px;
}
.mtable th {
background: rgba(0, 135, 81, 0.15) !important;
font-weight: 600 !important;
color: #008751;
font-size: 14px;

min-width: 130px;
max-width: 130px;
padding: 10px !important;
border-bottom: 0px solid #1b6363 !important;
}
.mtable tbody {
width: 100%;
position: relative;
display: block;
max-height: 307px;
overflow: auto;
}
.mtable td {
min-width: 130px;
max-width: 130px;
padding: 6px 10px !important;
text-align: left;
background-color: #fff;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
border-bottom: 0px solid #e1e1e1;
}
.Setting{
  color: black !important;
  color: #000;
  font-family: Figtree, sans-serif;
  font-size: 16px;
}
.DMSMasterContainer{
  
  /* position: relative; */
left: 2rem;
top: 6rem;
margin-top: 0px;
}
.page-title{
  line-height: 1.6;
  /* color: #767676; */
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "Figtree", sans-serif !important;
  padding-left: 0px;
  color: black !important;
}
.CardGrid{
display: flex;
}
.CardImage{
  height: 59px;
  width: 61px;
}
.manage-master .box1 {
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  padding: 32px 0px;
  height: 160px;
  border-radius: 20px;
  width: 100%;
  margin: 0px auto 0px auto;
  border: 2px solid #2c9942;
}
.manage-master .box1 {
  background: #fff !important;
}
.manage-master .box1 .icon {
  padding: 10px 0px 10px 0px;
  margin-bottom: 7px;
  height: 70px;
  font-size: 20px;
}
.manage-master .box1 p {
  display: block;
  font-size: 0.875rem;
}
.manage-master .col-sm-3{ width:20% !important;}
a
{
  text-decoration: none;
}
a:hover
{

  text-decoration: none;
}
.manage-master .box1:hover {
  border: 2px solid var(--primary-color);
  background: #efefef !important;
}


.hidemydatacards{
 display: none !important;
}
.shared-user {
  background-color: #dadcde;
  border-radius: 50%;
  color: #6c757d;
  display: inline-block;
  font-size: 11px;
  height: 25px;
  line-height: 27px;
  margin-left: -12px;
  margin-right: 5px;
  margin-top: -5px;
  text-align: center;
  width: 25px;
  FONT-WEIGHT: 600;
}

.more-users {
 font-size: 13px;
  margin-left: -13px;
  margin-top: -1px;
  color: #888;
}
.fileSizeAndVersion{
  display: flex;
  gap: 40px;
}

.sharedFile{
  display: flex;
  gap: 10px;
  padding-left: 64px; margin-top:3px;
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';  opacity: 1;
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */

  text-align: center;
  opacity: 1;
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}







/* Css for share file popup */
 
/* Pop-up container */

.share-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgba(246,246,246,0.87);
  /* box-shadow:  rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: start;padding-top: 70px;
  z-index: 1; 
}
 #renamefile-popup,#blurOverlay{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100vh;
  background-color:rgba(246,246,246,0.87);
  /* box-shadow:  rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: center;
  align-items: start; padding-top: 70px;
  z-index: 1;
 }
/* Popup content */
.share-popup-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}
 
/* Popup header: Share File and X in the same row */
.share-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 383px;
  border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
 
/* Close "X" button */
.share-close-popup,#closePopup {
  border: 1px solid var(--primary-color) !important;
  border-radius: 1000px;
  color: var(--primary-color) !important;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  height: 30px;
  line-height: 24px;
  width: 30px;
  border-radius: 1000px;
  min-width: 30px;
  right: 11px;
  position: relative;
  line-height: 27px;
  text-align: center;
}
//  #folderContainer2 ul li{font-weight:400; margin-top: 6px; }
// amjad latest change on fodler hierarchy
#folderContainer2 ul li{font-weight:400; margin-top: 6px;  width: 325px;}
/* Popup body: Spacing for the select and textarea */
.share-popup-body {
  // margin-bottom: 20px;
  margin-bottom: 20px; position: relative;
}
 
/* React select container */
#share-reactSelect {
  margin-bottom: 0px !important; 
}
#react-select-2-placeholder,.form-check-label,.css-hlgwow div,#react-select-3-placeholder{
  color: #212529 !important; font-weight: 500 !important;font-size: 1rem !important;
}
input[type=password], input[type=text], input[type=file], input:not([type]), select, textarea, .sp-peoplepicker-topLevel, .sp-peoplepicker-topLevelDisabled, .sp-peoplepicker-autoFillContainer, .ms-inputBox{
  color: #212529 !important;font-weight: 500 !important; font-size: 1rem !important;
}
input::placeholder,select::placeholder,textarea::placeholder,#react-select-3-placeholder::placeholder{
  color: #212529 !important;font-weight: 500 !important;font-size: 1rem !important;
}
.newpag .pagination-container{
  justify-content: start !important;
}
 
/* Textarea for the message */
#share-message {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
  height: 80px;
}
 
/* Popup footer: Share button aligned to the right */
.share-popup-footer {
  display: flex;
  justify-content: flex-end;
}
 
/* Share button */
.share-popup-footer button {
  background-color: #69797E;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}
 
.popup-footer button:hover {
  background-color: #66AEE0;
}
.share-popup-footer button:hover{
  background: transparent !important;
}
 
#userSelect {
    width: 100%;
    height: auto;
    min-height: 40px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

/* .workflowdiv{
  display: block !important;
}
.workflowdivhide{
  display: none !important;
} */


/*Edit pop Css*/
.blur-backround{
  width: 600px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
#renameForm button{margin-top: 0px !important;}
.edit-popup,#rename-popup,#renamePopup {
  position: absolute !important;

  width: 100%;
z-index: 2;
 
top: 0;
  background: rgba(246,246,246,0.87) !important;
  
  height: 100%;  
  display: flex
  ;
      justify-content: center;
      align-items: start; padding-top: 70px;
 
}
#addMetaColumn-wrapper .bi-plus{
  top: 2px !important; left: 0rem !important;

}
 #files-container button{    position: absolute;
  right: 28px;
  font-size: 14px; background: var(--primary-color);
  margin-top: 0px;
    right: 0px;
    top: 27%;
}
.buttonaligm button{
  position: absolute;
  right: 28px;
  font-size: 14px; background: var(--primary-color);
  margin-top: 0px;
    right: 44px;
    top: 22.4%;
}
  #files-container button:hover{
    background: var(--secondary-color);
  }
.row1{width: 33.3%; float: left;}
/* Styling for form groups (Field name and type) */
.edit-popup .form-group {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
 
.edit-popup .row {
  margin-bottom: 15px;
  display: flex;
  gap: 0px;
}
 
.edit-popup .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

 
.edit-popup .form-group input,
.edit-popup .form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
.edit-popup .form-group input[disabled] {
  background-color: #f2f2f2;
  color: #666;
}
 
/* Add field button styling */
.edit-popup a img {
  cursor: pointer;
  margin-top: 0px;
  display: block;
  margin-left: auto;
 
}
 
.edit-popup a img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
 
/* Buttons (Save and Cancel) */
.edit-popup button {
  padding: 6px 20px;
  margin-top: 0px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; float:none; margin: 20px auto 0px;
}

label{font-size: 0.9rem !important; font-weight: 500 !important; color: #6c757d !important;}
.edit-popup button:hover {
  background-color: var(--secondary-color);
}
.newrequ button:hover{
  background: transparent !important;;
}
 
/* Close button or cancel */
.edit-popup .close-button {
  background-color: white;
  float: right;
  line-height: 29px;
}
 
.edit-popup button.close-button:hover {
  background-color: #d32f2f;
}

/* audit history popup */
.audit-history-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1; padding-top: 70px;
}
#showfolderpermission .modal, #workflowdiv .modal{height: 100vh !important;}
.popup-content-auditHistory {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 900px;
  position: relative;
}
 
.popup-header {
 display: table-column;
    position: absolute;
    z-index: 10000;
    margin: -13px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}
 
.popup-header h5 {
  margin: 0;
}
 
.close-btn {
  cursor: pointer;
  font-size: 24px;
  padding: 5px; color: #ec1c24;
}
 
.popup-details {
  display: flex;
  flex-direction: column;
}
 
/* Adjust the grid for three columns */
.detail-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}
 
.detail-column {
  padding: 4px;
  word-wrap: break-word; display: flex; gap: 10px; font-size: 14px;
}
 
/* Approver Header and Values */
.detail-row-approver {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}
 
.detail-row-value-approver {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
 
.detail-label, .detail-label-approver {
  font-weight: bold;
  text-align: left;
}
 
.detail-value, .detail-value-approver {
  text-align: left;
  color: #6C757D;
}
 
.detail-label-approver {
  font-weight: bold;
  color: #008751;
}
 

.greater{
  padding-right: 10px;
}
.Route{
  display: inline-flex;
  padding-left: 0px;
}
.mainsidebardms{
  width: 19%;
  float: left;
  padding: 5px 10px;
  position: relative; background:#fff; margin-top: 10px; border-radius: 0px;
}
#folderContainer2{
    /* width: 17rem; */
    
    padding: 7px;

    max-height: 671px !important;
   
}
#folderContainer2 .toggle-button{width: 17px;
  height: 17px;
  display: inline;
  float: left;
  border-radius: 1000px;
  border: 1px solid #000; color:#000 ;
  text-align: center;
  line-height: 14px;
  font-size: 18px;
  margin: 3px 5px 0px 0px;}
  #folderContainer2 ul{list-style: none; padding: 0px; margin-bottom: 0px;}
  #folderContainer2 ul li{padding-left: 5px;}
.sidebardms {
  background-color: transparent;
  
  display: flex;
  flex-direction: column;
  font: 14px Figtree, sans-serif;
  margin: 0px 0 11px;
  padding:0px; width: 100%;


}
.popup-modal{    position: fixed;
  z-index: 9999999;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
.popup-content{    background: #fff;
width: 32%;
margin: auto;
// top: 5%;
top: 40%;
position: relative;
padding: 20px;
border-radius: 5px;}
#confirmation-text{margin: 0px; font-size: 14px;}
.content-page {
  top: -5px !important;
}
#showfolderpermission h5{    margin: inherit;
  margin-bottom: 3px !important;}
#hidegidvewlistviewbutton button,   #hidegidvewlistviewbutton2 button{font-size: 14px; margin-top: 5px; border: 0px solid #ccc !important;}
#hidegidvewlistviewbutton button .active svg,  #hidegidvewlistviewbutton2 button .active svg{color:#fff !important}


.myrequestp3rd{
  width: 98px !important;
 
}
 
.mycreatedfolderpublicorlibrary{
  display: flex;
      gap: 6px; justify-content: end;
}
.filestatus2{
  border-radius: 5px;
  display: inline-block;
  font-size: 11px;
  font-weight: 500 !important;
  height: 22px; text-align: center;
  line-height: 19px;
  padding: 1px 5px !important; width: 85px !important;
}
.folderthreedots{
  width: 33px;
}
#dynamicPopup{z-index: 1 !important;}
.root-folder {
  background-color: #f0f8ff; /* Light blue for root folder */
}

.sub-folder {
  background-color: #faebd7; /* Light tan for sub folder */
}

#CreateFolder1{
  display: none;
}

#CreateFolder{
  display: none;
}

#createFileButton{
  display: none;
}

#files-container .card{
  width: 32.1%; margin: 5px; float: left;
} 
#files-container .card {
  border: 1px solid #2c9942 !important;
  border-radius: 6px !important;
  height: 107px; padding: 0.75rem; position: relative !important;
}
.search-container input:focus{outline: 1px solid #2c9942 !important;}

@media(max-width:1920px){
  .newdovvlose {right: 40%;}
}
@media(max-width:1800px){
  .newdovvlose {right: 43%;}
}
@media(max-width:1660px){
  .footer{bottom: 0px; margin-top: 15px;}
  .librarydata{
    margin-bottom: 50px !important;
  }
  .newdovvlose {right: 50%;}
}
@media(max-width:1440px){
  .newdovvlose {right: 57%;}
  .Airesponse .card {
    width: 47.5% !important;
}
.p3rd {
 
  width: 30% !important;
}
}
@media(max-width:1280px){
  .newdovvlose {right: 64%;}
  .librarydata{
    width: 79.4%;
  }
  .Airesponse .card {
    width: 97.1% !important;
}

#files-container .card{
  width: 31.9%;
}
.sidebardmsButton{
  padding: 8px 11px; font-size: 13px;
}
p.folder {
  font-size: 12px;
}
.p2nd, .p3rd{
  font-size: 10px;
}
.p1st {
  
  font-size: 12px;
 
  height: 17px;
}
}
@media(max-width:640px){
  .w90{width: 80% !important; float: left;}
  .w20{
    width: 20% !important; float: left;
  }
.mainsidebardms,#files-container .card{width: 100% !important;}
.cardsearch .neww{margin-bottom: 10px;}
.librarydata {
  float: left;
  overflow: initial !important;
  padding-left: 10px !important;
  width: 100% !important;
  padding-right: 10px !important;
  margin-top: 0px !important;
}

#files-container .card{margin: 5px 0px !important; height: 115px !important;}
#files-container .col-md-2{    width: 15% !important;
float: left;}
.main-containeruploadfile{display: block !important;
height: 100% !important;
}
.column1{height: auto !important;}
.main-containeruploadfile .column{max-height: max-content !important;}
.popup-content-auditHistory,.share-popup-content{width: 95% !important;}
#files-container .col-md-10{    width: 84% !important; padding-left: 10px !important;
float: left;}
.cardsearch{height: auto;}
.newl{top: -38px !important;}

}
.p-31{padding: 20px !important; width: 100%;}
.detail-value-approver{    background-color: #fff;
border-bottom: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
color: #6b6b6b !important;
font-size: 15px;
font-size: 14px !important;
max-width: 130px;
min-width: 130px;
overflow: hidden;
padding: 8px 10px;
text-align: left;
text-overflow: ellipsis;
white-space: nowrap;}
.detail-label-approver{    background: #f3f7f9 !important;
border-bottom: 0 solid #1b6363 !important;
color: #3c3c3c !important;
font-size: 15px !important;
font-weight: 600 !important;
max-width: 130px;
min-width: 130px;
padding: 10px !important;
text-align: center;}



.file-extension-icon{
  border-radius: 3px;
  width: 35px;
  height: 35px;
  background-color: #2c9942;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.CardTextContainer{
  padding-left: 0px;
}
.buttonstyle12{position: relative; top:-100px;}
.newmobmodal  button:hover{
  background: #c0d3e8 !important;;
}
.bg-class-name{background-image: url(../assets/Groupno.png);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat; background-color: #fff;
}
#dynamicPopup{
  position: absolute !important; height: 100vh !important; align-items: start !important; padding-top: 70px;background: hsla(0, 0%, 96%, .87) !important;
}
.newmobmodal  button{padding:0px 10px ; font-size: 14px !important;}
.btncolorCreate1{    background: #fff;
  border-radius: 1000px !important;
  height: 50px !important;
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  padding: 10px !important;}
  .btncolorCreate1:hover{
    background: #fff !important;
  }
  #renamefile-popup button{
    align-items: center;
    background: #fff !important;
    border-radius: 1000px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    display: flex;
    height: 50px !important;
    justify-content: center;
    padding: 10px !important;
    width: 50px !important;
  }
  .from8 .ms-DatePicker{
    margin-top: -5px;
  }
  .cancelnewi{
    margin-left: 2px;
    margin-top: -3px;
  }
.card{border-radius: 0px !important; border: 0px;}
.flexContainer-75, .ms-TooltipHost, .root-53, .root-61 {
  display: block !important;
}
.main,#ModalFocusTrapZone3,div.ms-Dialog-main{background: #fff !important; }
  .OneUpTextFileContainer{
    width: 100% !important;
  }
.borderprev{border: 10px solid #d9d9d9;
  //  height: 483px; 
  
  
  border-radius: 0px; 
  
  // margin-top: 30px;
  margin-top: 0px !important;
}


.ms-fullscreenmode #contentBox{
     margin-left: 0px !important;
}
/* i have added this because folder hierarchy was conjusted if name was too large */
#folderContainer2 ul li{
  font-size: 12px;
  font-weight: 300;
  width: 400px;
}
// i added this becuase in file upload checkbox was not working
.input-container {
  input[type="checkbox"] {
    -webkit-appearance: auto !important;
    appearance: auto;
  }
}

.sidebardmsButton.active {
  background-color: var(--secondary-color) !important;
  border-left: 0px solid #0078d4;
  font-weight: bold;
}
#OneUpCommandBar{
  display: none !important;
}
#closeCommand{
  display: none !important;
}

#files-container2{
  width: 100% !important;

}


#OneUpCommandBar{
  display: none !important;
}
#closeCommand{
  display: none !important;
}

#files-container2{
  width: 100% !important;

}
// .pagination-container{
//       left: 89% !important;
//     position: sticky !important;
//     top: 52% !important;
//     width: 327px !important;
// }

.pagination-container {
  align-items: end;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: relative;
  clear: both;
}
.card-body1{padding: 12px; margin-top: 2px; }
.pagination-container-buttons{
  display: flex !important;
  justify-content: space-around;
    flex-direction: row !important;
     
}
  
// next button
.pagination-container-buttons2{
     background-color:var(--primary-color) !important;
     color: #ffffff !important;
}
.pagination-container-buttons1{
  background-color:var(--primary-color) !important;
     color: #ffffff !important;
     margin-right: 140px !important;
}
.btngridview { 
 border-radius: 4px;} 
.newho,.btnlistview  {    background-color: #fff !important;
  border-radius: 4px;
  
  color: #000;

 
}

.mar-90{margin-top: -80px;}
.mar-9011{margin-top: -90px; border-bottom: 10px solid #eaeaea; }
.appbg{    background-color: #d5efd6;
  color: #008751;
  padding: 6px 10px;
  border-radius: 4px;
  margin-top: 0px;
  float: left;}
.circlelevel{border-radius: 1000px;
  color: #696969;
  font-size: 14px;
  font-weight: 600;
  height: 33px;
  text-align: center;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f5f8;}
.Newfilealign{position: relative; background: #fff; padding: 12px; top: -90px;}
.notactive:hover,.newho:hover,.btnlistview:hover{color: #fff;}
.notactive:hover img,.newho:hover img,.btnlistview:hover img{
  // filter: sepia(0) saturate(1) hue-rotate(-50deg) brightness(0.8);
}
#hidegidvewlistviewbutton .active img{
  // filter: sepia(0) saturate(1) hue-rotate(-50deg) brightness(0.8);
}

/* Add this attribute to the element that needs a tooltip */
 [data-tooltip] {
  position: relative;
  z-index: 3;
  cursor: pointer;
}

/* Hide the tooltip content by default */
 [data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip below the element with a box shadow */
[data-tooltip]:before {
  position: absolute;
  top: 120%;  /* Move tooltip below the element */
  left: 50%;
  margin-top: 10px; /* Space between element and tooltip */
  margin-left: -80px; /* Center the tooltip horizontally */
  padding: 7px;
  width: 120px; /* Adjusted width */
  border-radius: 5px; /* Rounded corners */
  background-color: #fa901d;/* Dark background for visibility */
  color: #fff; /* White text */
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.1;
  box-shadow: 0 0px 4px rgba(0, 0, 0, .3);/* Add box shadow */
  white-space: break-spaces;    font-weight: 600;
}

/* Triangle hack to make tooltip look like a speech bubble */
 [data-tooltip]:after {
  position: absolute;
  top: 29px;  /* Position the arrow above the tooltip */
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 10px solid #fa901d;/* Match the tooltip background */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
button [data-tooltip]:after{
  top: 42px;
}
/* Show tooltip content on hover */
 [data-tooltip]:hover:before,
 [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Add this attribute to the element that needs a tooltip */
.tool [data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
.tool [data-tooltip]:before,
.tool [data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip below the element with a box shadow */
.tool [data-tooltip]:before {
  position: absolute;
  top: 120%;  /* Move tooltip below the element */
  left: 50%;
  margin-top: 10px; /* Space between element and tooltip */
  margin-left: -80px; /* Center the tooltip horizontally */
  padding: 7px;
  width: 120px; /* Adjusted width */
  border-radius: 5px; /* Rounded corners */
  background-color: #fa901d; /* Dark background for visibility */
  color: #fff; /* White text */
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.1;
  box-shadow: 0 0px 4px rgba(0, 0, 0, .3); /* Add box shadow */
  white-space: break-spaces;    font-weight: 600;
}

/* Triangle hack to make tooltip look like a speech bubble */
.tool [data-tooltip]:after {
  position: absolute;
  top: 21px;  /* Position the arrow above the tooltip */
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 10px solid #fa901d; /* Match the tooltip background */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
.tool [data-tooltip]:hover:before,
.tool [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
.remoare:after{
  display: none !important;
}
.btncolorCreate1 [data-tooltip]:after{
  top: 38px;
}
.alitool [data-tooltip]:after{
  top: 42px;
}
#showfolderpermission .modal,#workflowdiv .modal{position: absolute !important; z-index: 2 !important; justify-content: center; display: flex !important; }
.buttonalignment button{right:40px !important;    top: 22.6% !important;}
.my-class{
  position: absolute;
  top: -8px !important;
  right: 0px !important;
  background: #fff;
  width: 38px;
  height: 38px;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;     margin-top: -172px !important;
 
  margin-right: -35px !important;   box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.my-class:hover{background: transparent !important;}
.my-class-new{margin-top: -81px; background: #fff;}
.renamefile-popup button{
  background: #fff;
  width: 38px;
  height: 38px;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
.my-class-new iframe{margin-top:60px !important;}
.renamefile-popup button:hover{background: transparent !important;}

.newdovvlose button:hover{background: transparent  !important;}
button.rightalignpagination{right: 3px !important;}