/* 
.edc-form {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.edc-select {
  margin-bottom: 15px;
}
.edc-select label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}
.edc-select .react-select__control {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  min-height: 42px;
}




.edc-label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #374151;
}

.edc-input, 
.edc-field select, 
.edc-field textarea {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}
.edc-input,.edc-field select{
  height: 36px; border-radius:6px;
}

.required {
  color: red;
  font-weight: bold;
  margin-left: 4px;
}


.file-upload {
 

}
.file-upload label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.file-preview {
  margin-top: 5x;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.file-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 5px 10px;
}
.file-name {
  cursor: pointer;
  color: #2c9942;
  text-decoration: underline;
}
.file-item button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ef4444;
  font-size: 16px;
}

.submit-btn {
  background: #2c9942;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s; float: right;
}
.submit-btn:hover {
  background: #2c9942;
} */


div:where(.swal2-container){
  z-index: 1 !important; 
  height: auto !important;
}